/* Main CSS */
* {
  box-sizing: border-box;
}

.main {
  background: rgb(245, 245, 245);
  width: 550px;
  height: 500px;
  text-align: center;
  font-family: helvetica;
}

.title {
  color: rgb(232, 213, 213);
  font-size: 40px;

}

.todo__form {
  align-self: center;
  border-bottom: 1px solid gray;
  box-shadow: 3px 3px 3px 3px rgb(136, 136, 136);
  background-color: white;
  margin-left: 20px;
  overflow: scroll;
  display: list-item;
}

.todo__text {
  border: none;
  outline: none;
}

.todo__submit {
  display: none;
}
